<a href="{% if page.title != 'index' %}index{% endif %}#cta" {% if page.title == 'index' %}onclick="toggleNav()"{% endif %} class="hide-desktop">Home</a>
<a href="{% if page.title != 'index' %}index{% endif %}#about" {% if page.title == 'index' %}onclick="toggleNav()"{% endif %}">About</a>
<a href="{% if page.title != 'index' %}index{% endif %}#howHelp" {% if page.title == 'index' %}onclick="toggleNav()"{% endif %}">Volunteer & Help</a>
<a href="photos" {% if page.title == 'index' %}onclick="toggleNav()"{% endif %}">Photos</a>
<a href="updates" {% if page.title == 'index' %}onclick="toggleNav()"{% endif %}">News &amp; Updates</a>
<a style="display: none;" href="photos" {% if page.title == 'index' %}onclick="toggleNav()"{% endif %}">Photos</a>
<a href="contact" {% if page.title == 'index' %}onclick="toggleNav()"{% endif %}">Contact</a>
