<a href="{% if page.title != 'index' %}index{% endif %}#cta" {% if page.title == 'index' %}onclick="toggleNav()"{% endif %}>Home</a>
<a href="{% if page.title != 'index' %}index{% endif %}#about" {% if page.title == 'index' %}onclick="toggleNav()"{% endif %}">About</a>
<a href="{% if page.title != 'index' %}index{% endif %}#howHelp" {% if page.title == 'index' %}onclick="toggleNav()"{% endif %}">Volunteer & Donate</a>
<a href="{% if page.title != 'index' %}index{% endif %}#sponsors" {% if page.title == 'index' %}onclick="toggleNav()"{% endif %}">Sponsors</a>
<a href="updates" {% if page.title == 'index' %}onclick="toggleNav()"{% endif %}">Updates</a>
<a style="display: none;" href="photos" {% if page.title == 'index' %}onclick="toggleNav()"{% endif %}">Photos</a>
<a href="{% if page.title != 'index' %}index{% endif %}#contact" {% if page.title == 'index' %}onclick="toggleNav()"{% endif %}">Contact</a>
